@import "../../../styles/colors.scss";

.header {
    // background-color: red;
    height: 5em;

    .containerHeader {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
}

.logotipo {
    width: 10em;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;

    .navItem {
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-size: .9em;
        box-sizing: border-box;
        padding-top: 2em;
        width: 10em;
        height: 5.5em;
        color: rgba($color: $text, $alpha: .5);
        transition: .3s;
        position: relative;

        &::before {
            content: '';
            background-color: $primary;
            width: 100%;
            height: 0%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 0 0 .8em .8em;
            transition: .3s;
        }
        &:hover {
            color: $text;

            &::before {
                height: 100%;
            }
        }
    }
}

.social {
    width: 10em;
    display: flex;
    justify-content: end;
    gap: .5em;

    .socialItem {
        color: $primary;
        font-size: 2em;
        position: relative;
        padding: .2em;
        display: flex;
        align-items: center;
        transition: .3s;

        &::before {
            content: '';
            z-index: -1;
            width: 1.4em;
            height: 1.4em;
            position: absolute;
            top: 0;
            left: 0;
            background-color: none;
            transition: .3s;
            border-radius: .2em;
        }

        &:hover {
            color: $background;

            &::before {
                background-color: $primary;
                box-shadow: .1em .1em 0 0 $secondary;
            }
        }
    }
}