@import "../../../styles/colors.scss";

.menuTitle {
    font-size: 2.5em;
    color: $primary;
    font-weight: bold;
    border-bottom: 2px solid $primary;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.cardapioCard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    .foodName {
        color: $text;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: .5em;
    }

    .foodDescription {
        color: rgba($color: $text, $alpha: .6);
    }

    .foodPrice {
        color: $text;
        font-size: 1.2em;
        font-weight: bold;
    }
    
}