@import "../../../styles/colors.scss";

.infoCards {
    display: flex;
    gap: 8%;
    justify-content: center;
    margin-bottom: 5em;

    div {
        width: 15em;
        height: 20em;
    }
}

.infosContainer {
    overflow: hidden;
    width: 100%;
    max-height: .2em;
    padding: 0em;
    box-sizing: border-box;
    border-radius: .5em;
    background-color: $backgroundElements;
    transition: max-height .3s linear;
    transition: .3s;
    opacity: 0;

    &.active {
        max-height: 54em;
        padding: 2.5em;
        opacity: 1;
    }
}